In [1]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv("toy.csv")

In [4]:
df

   opponent      venue   outlook  toss result
0       kkr  bangalore  overcast  lost    won
1        mi     mumbai     sunny   won    won
2       rcb     mumbai  overcast   won    won
3       kkr  bangalore     sunny  lost    won
4       kkr  bangalore     sunny   won    won
5        mi    chennai     sunny   won   lost
6       rcb    chennai     sunny   won   lost
7       kkr    chennai  overcast   won    won
8        rr  bangalore     sunny  lost    won
9       rcb     mumbai  overcast   won    won
10      kkr    chennai     sunny   won    won
11      rcb  bangalore     sunny   won    won
12       rr    chennai  overcast   won    won
13      kkr    chennai  overcast   won    won
14      kkr  bangalore  overcast   won    won
15      rcb    chennai  overcast   won   lost
16      kkr  bangalore  overcast   won   lost
17       mi  bangalore     sunny   won   lost
18      rcb    chennai     sunny  lost    won
19       mi    chennai  overcast   won   lost
20      kkr  bangalore     sunny  lost    won
21      rcb  bangalore     sunny   won   lost
22       rr  bangalore  overcast   won    won
23      kkr     mumbai     sunny   won   lost
24       rr    chennai  overcast  lost    won

In [5]:
#Problrm

You have to find out whether the team would lose the match or not for the following given input:

{"kkr", "chennai","overcast","lost"}

Opponent is kkr
venue is chennai
outlook is overcast
toss is lost

let the event of wini be W and let the event of loosing be L

therefore, 

P(W| opponent=kkr,venue=chennai,outlook=overcast,toss=lost) 
= P(opponent=kkr|W) * P(venue=chennai|W) * P(outlook=overcast|W) * (toss=lost|W) * P(W)

&

P(L| opponent=kkr,venue=chennai,outlook=overcast,toss=lost) 
= P(opponent=kkr|L) * P(venue=chennai|L) * P(outlook=overcast|L) * (toss=lost|L) * P(L)

In [6]:
#solution

In [15]:
#P(W)
#P(L)

pw=df[df['result']=='won'].shape[0]/df['result'].shape[0]
pl=df[df['result']=='lost'].shape[0]/df['result'].shape[0]

In [18]:
#opponent

pd.crosstab(df['opponent'],df['result'])

result    lost  won
opponent
kkr          2    8
mi           3    1
rcb          3    4
rr           0    4

In [19]:
pkkrlost=2/8
pkkrwon=8/17

In [20]:
#venue

pd.crosstab(df['venue'],df['result'])

result     lost  won
venue
bangalore     3    8
chennai       4    6
mumbai        1    3

In [21]:
pchennailost=4/8
pchennaiwon=6/17

In [22]:
#outlook

pd.crosstab(df['outlook'],df['result'])

result    lost  won
outlook
overcast     3    9
sunny        5    8

In [24]:
povercastlost=3/8
povercastwon=9/17

In [25]:
#toss

pd.crosstab(df['toss'],df['result'])

result  lost  won
toss
lost       0    6
won        8   11

In [39]:
ptosslostlost=0
ptosslostwon=6/17

In [40]:
Pofkkrwin=pkkrwon*pchennaiwon*ptosslostwon*povercastwon*pw

In [41]:
Pofkkrwin

0.02110319560350092

In [42]:
Pofkkrlost=pkkrlost*pchennailost*povercastlost*ptosslostlost*pl

In [43]:
Pofkkrlost

0.0

In [44]:
if(Pofkkrwin>Pofkkrlost):
    print("KKR will win")
else:
    print("KKR will loose")

KKR will win